.banner-sec {
  width: 100%;
  background-repeat: no-repeat;
  height: 600px;
  color: #fff;
  background-size: cover;
  background-position: center;
  margin-bottom: 70px;
}
@media screen and (max-width: 1200px) {
  .banner-sec {
    margin-bottom: 20px;
  }
}
.banner-sec .inner-sec {
  background: linear-gradient(90deg, rgba(41, 42, 46, 0.3) 45.18%, rgba(255, 255, 255, 0.3) 137.92%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.banner-sec .inner-sec .title-sec {
  text-align: center;
}
.banner-sec .inner-sec .title-sec h1 {
  font-size: 65px;
  color: #fff;
}
@media screen and (max-width: 430px) {
  .banner-sec .inner-sec .title-sec h1 {
    font-size: 30px;
  }
}

.who_we_are {
  text-align: center;
  margin-bottom: 70px;
}
.who_we_are .heading h1 {
  font-size: 45px;
  color: #062E51;
  margin-bottom: 20px;
}
.who_we_are .heading .content {
  max-width: 70%;
  margin: 0 auto;
}
.who_we_are .heading .content p {
  font-size: 18px;
  color: #284865;
  margin-bottom: 20px;
}
.who_we_are .heading .content p a {
  color: #3F7E44;
  font-weight: 500;
  font-size: 18px;
}

.line {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.experience-sec {
  margin-bottom: 70px;
}
.experience-sec p {
  font-size: 18px;
}
.experience-sec .title-section {
  text-align: center;
  margin-bottom: 30px;
}
.experience-sec .title-section h1 {
  color: #062E51;
  font-size: 45px;
}
@media (max-width: 768px) {
  .experience-sec .low-carbon-row {
    gap: 20px;
  }
}
.experience-sec .wrapper {
  border: 1px solid rgba(127, 163, 199, 0.5411764706);
  border-radius: 10px;
  padding: 50px 20px;
  height: 100%;
}
.experience-sec .wrapper .logo-box {
  text-align: center;
  margin-bottom: 30px;
}
.experience-sec .wrapper .logo-box img {
  width: 30%;
}
.experience-sec .wrapper .info {
  text-align: center;
  color: #526B88;
  font-size: 18px;
}
.experience-sec .wrapper .info h2 {
  color: #062E51;
  font-size: 22px;
  margin-bottom: 20px;
}

.participation-sec {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
}
.participation-sec .participation-inner-sec {
  background: linear-gradient(100.59deg, rgba(41, 42, 46, 0.6) 98.63%, rgba(255, 255, 255, 0.6) 124.47%);
  height: 100%;
}
.participation-sec .content-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
.participation-sec .content-sec .heading {
  margin-bottom: 30px;
}
.participation-sec .content-sec .heading h2 {
  color: #FFFFFF;
  font-size: 45px;
  font-weight: 600;
}
.participation-sec .content-sec .annual-fees-sec {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}
.participation-sec .content-sec .annual-fees-sec .fees-sec {
  background-color: #FFFFFF;
  padding: 20px 60px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}
@media (max-width: 768px) {
  .participation-sec .content-sec .annual-fees-sec .fees-sec {
    padding: 20px 20px;
  }
}
.participation-sec .content-sec .annual-fees-sec .fees-sec .cost-sec {
  color: #3F7E44;
  font-size: 70px;
  font-weight: 600;
  position: relative;
}
.participation-sec .content-sec .annual-fees-sec .fees-sec .cost-sec .logo_1 {
  font-size: 25px;
  position: absolute;
  top: 0px;
  right: 100px;
}
.participation-sec .content-sec .annual-fees-sec .fees-sec .cost-sec .logo_2 {
  font-size: 25px;
  position: absolute;
  top: 0px;
  right: 130px;
}
.participation-sec .content-sec .annual-fees-sec .fees-sec h4 {
  color: #062E51;
  font-size: 24px;
}
.participation-sec .content-sec .button-sec {
  padding: 20px;
}
.participation-sec .content-sec .button-sec a {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #062E51;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}

.interest-sec {
  margin-bottom: 100px;
}
.interest-sec .title-sec {
  margin-bottom: 20px;
  text-align: center;
  color: #062E51;
}
.interest-sec .title-sec h1 {
  padding: 18px;
  text-align: center;
  color: #062e51;
  font-size: 45px;
}
.interest-sec .main-box .wrapper {
  row-gap: 20px;
}
.interest-sec .main-box .wrapper .color:nth-child(1) .read-more-sec .date-sec > span {
  background-color: #6e417a;
}
.interest-sec .main-box .wrapper .color:nth-child(2) .read-more-sec .date-sec > span {
  background-color: #ccb146;
}
.interest-sec .main-box .wrapper .color:nth-child(3) .read-more-sec .date-sec > span {
  background-color: #3f7e44;
}
.interest-sec .main-box .wrapper .read-more-sec .img-sec {
  border: 1px solid rgba(128, 128, 128, 0.3490196078);
  border-radius: 10px;
}
.interest-sec .main-box .wrapper .read-more-sec .img-sec img {
  width: 100%;
}
.interest-sec .main-box .wrapper .read-more-sec .info-wrapper {
  padding: 20px;
  border-bottom-left-radius: 7px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0.3490196078);
  border-bottom-right-radius: 7px;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.interest-sec .main-box .wrapper .read-more-sec .info-wrapper span {
  color: #fff;
  padding: 5px 15px;
  border-radius: 25px;
  font-weight: 500;
}
.interest-sec .main-box .wrapper .read-more-sec h2 {
  padding: 15px 0px;
  font-weight: bold;
  color: #062e51;
  font-size: 20px;
}
.interest-sec .main-box .wrapper .read-more-sec a {
  font-size: 18px;
  font-weight: 400;
  color: #062e51;
}/*# sourceMappingURL=youth_alliacne.css.map */