.banner-sec{
    width: 100%;
    background-repeat: no-repeat;
    height: 600px;
    color: #fff;
    background-size: cover;
    background-position: center;
    margin-bottom: 70px;
    @media screen and (max-width: 1200px) {
        margin-bottom: 20px;
    }
    .inner-sec{
        background: linear-gradient(90deg, rgba(41, 42, 46, 0.3) 45.18%, rgba(255, 255, 255, 0.3) 137.92%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        .title-sec{
            text-align: center;
            h1{
                font-size: 65px;
                color: #fff;
                @media screen and (max-width: 430px) {
                    font-size: 30px;
                }
            }
        }
    }
}
.who_we_are{
    text-align: center;
    margin-bottom: 70px;
    .heading{
        h1{
            font-size: 45px;
            color: #062E51;
            margin-bottom: 20px;
        }
        .content{
            max-width: 70%;
            margin: 0 auto;
            p{
                font-size: 18px;
                color: #284865;
                margin-bottom: 20px;
                a{
                    color: #3F7E44;
                    font-weight: 500;
                    font-size: 18px;
                }
            }
        }
    }
}
.line{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 70px;
}
.experience-sec{
    margin-bottom: 70px;
    p{
        font-size: 18px;
    }
    .title-section{
        text-align: center;
        margin-bottom: 30px;
        h1{
            color: #062E51;
            font-size: 45px;
        }
    }
    .low-carbon-row{
        @media (max-width: 768px) {
            gap: 20px;
        }
    }
    .wrapper{
        border: 1px solid #7FA3C78A;
        border-radius: 10px;
        padding: 50px 20px;
        height: 100%;
        .logo-box{
            text-align: center;
            margin-bottom: 30px;
            img{
                width: 30%;
            }
        }
        .info{
            text-align: center;
            color: #526B88;
            font-size: 18px;
            h2{
                color: #062E51;
                font-size: 22px;
                margin-bottom: 20px;
            }
        }
    }
}
.participation-sec{
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
    .participation-inner-sec{
        background: linear-gradient(100.59deg, #292a2e99 98.63%, #ffffff99 124.47%);
        height: 100%;
    }
    .content-sec{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        .heading{
            margin-bottom: 30px;
            h2{
                color: #FFFFFF;
                font-size: 45px;
                font-weight: 600;
            }
        }
        .annual-fees-sec{
            display: flex;
            gap: 25px;
            margin-bottom: 30px;
            .fees-sec{
                background-color: #FFFFFF;
                padding: 20px 60px;
                border-radius: 10px;
                width: 100%;
                text-align: center;
                @media (max-width: 768px) {
                   padding: 20px 20px ; 
                }
                .cost-sec{
                    color: #3F7E44;
                    font-size: 70px;
                    font-weight: 600;
                    position: relative;
                    .logo_1{
                        font-size: 25px;
                        position: absolute;
                        top: 0px;
                        right: 100px;
                    }
                    .logo_2{
                        font-size: 25px;
                        position: absolute;
                        top: 0px;
                        right: 130px;
                    }
                    // &:nth-child(1){
                    //     color: #3F7E44;
                    //     font-size: 20px;
                    //     position: absolute;
                    //     top: 0px;
                        
                    // }
                    // :nth-child(2){
                    //     color: #3F7E44;
                    //     font-size: 20px;
                    //     position: absolute;
                    //     top: 0px;
                    // }
                }
                h4{
                    color: #062E51;
                    font-size: 24px;
                }
            }
        }
        .button-sec{
            padding: 20px;
            a{
                text-decoration: none;
                background-color: #FFFFFF;
                color: #062E51;
                font-size: 20px;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }
    }
}
.interest-sec{
    margin-bottom: 100px;
    .title-sec{
        margin-bottom: 20px;
        text-align: center;
        color: #062E51;
        h1{
            padding: 18px;
            text-align: center;
            color: #062e51;
            // font-weight: 700;
            font-size: 45px;
        }
    }
    .main-box{
        .wrapper{
            row-gap: 20px;
            .color{
                &:nth-child(1){
                    .read-more-sec{
                        .date-sec{
                            &> span{
                                background-color: #6e417a;
                            } 
                        }
                    }
                }
                &:nth-child(2){
                    .read-more-sec{
                        .date-sec{
                            &> span{
                                background-color: #ccb146;
                            }
                        }
                    }
                }
                &:nth-child(3){
                    .read-more-sec{
                        .date-sec{
                            &> span{
                                background-color: #3f7e44;
                            }
                        }
                    }
                }
            }
            .read-more-sec{
                .img-sec{
                    border: 1px solid #80808059;
                    border-radius: 10px;
                    img{
                        width: 100%;
                       
                    }
                }
                .info-wrapper{
                    padding: 20px;
                    border-bottom-left-radius: 7px;
                    border-style: solid;
                    border-width: 1px;
                    border-color: #80808059;
                    border-bottom-right-radius: 7px;
                    border-top: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    span{
                        color: #fff;
                        padding: 5px 15px;
                        border-radius: 25px;
                        font-weight: 500;
                    }
                }
                h2{
                    padding: 15px 0px;
                    font-weight: bold;
                    color: #062e51;
                    font-size: 20px;
                }
                a{
                    font-size: 18px;
                    font-weight: 400;
                    color: #062e51;
                }
            }
        }
    }
}