.banner-sec {
  width: 100%;
  background-repeat: no-repeat;
  height: 600px;
  color: #fff;
  background-size: cover;
  background-position: center;
  margin-bottom: 70px;
}
@media screen and (max-width: 1200px) {
  .banner-sec {
    margin-bottom: 20px;
  }
}
.banner-sec .inner-sec {
  background: linear-gradient(90deg, rgba(41, 42, 46, 0.3) 45.18%, rgba(255, 255, 255, 0.3) 137.92%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.banner-sec .inner-sec .title-sec {
  text-align: center;
  max-width: 90%;
}
.banner-sec .inner-sec .title-sec h1 {
  font-size: 65px;
  color: #fff;
}
@media screen and (max-width: 430px) {
  .banner-sec .inner-sec .title-sec h1 {
    font-size: 30px;
  }
}

.with_us {
  margin-bottom: 70px;
}
.with_us p {
  font-size: 18px;
}
.with_us .heading {
  margin-bottom: 20px;
  text-align: center;
}
.with_us .heading h1 {
  color: #062E51;
  font-size: 45px;
}
.with_us .info {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 768px) {
  .with_us .info {
    max-width: 100%;
  }
}
.with_us .info p {
  color: #284865;
}

.youth_programs {
  margin-bottom: 70px;
}
.youth_programs .heading {
  text-align: center;
  margin-bottom: 30px;
}
.youth_programs .heading h1 {
  font-size: 45px;
  color: #062E51;
}
@media (max-width: 768px) {
  .youth_programs .youth_row {
    row-gap: 20px;
  }
}
.youth_programs .youth_row .content-wrapper {
  border: 1px solid #7FA3C7;
  padding: 20px 20px;
  border-radius: 10px;
}
.youth_programs .youth_row .content-wrapper .image-box {
  margin-bottom: 20px;
}
.youth_programs .youth_row .content-wrapper .image-box img {
  width: 100%;
}
.youth_programs .youth_row .content-wrapper .title {
  text-align: center;
}
.youth_programs .youth_row .content-wrapper .title h2 {
  color: #062E51;
  font-size: 25px;
}

.touch {
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  .touch {
    padding: 10px;
  }
}
.touch .wrapper {
  margin: 0 auto;
  background-color: #062E51;
  color: white;
  max-width: 800px;
  padding: 30px 50px;
  border-radius: 10px;
}
.touch .wrapper .heading {
  margin-bottom: 30px;
  text-align: center;
}
.touch .wrapper .heading h1 {
  font-size: 35px;
  color: white;
}
.touch .wrapper .text {
  text-align: center;
}
.touch .wrapper .text a {
  color: #062E51;
  background: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.interest-sec {
  margin-bottom: 100px;
}
.interest-sec .title-sec {
  margin-bottom: 20px;
  text-align: center;
  color: #062E51;
}
.interest-sec .title-sec h1 {
  padding: 18px;
  text-align: center;
  color: #062e51;
  font-size: 45px;
}
.interest-sec .main-box .wrapper {
  row-gap: 20px;
}
.interest-sec .main-box .wrapper .color:nth-child(1) .read-more-sec .date-sec > span {
  background-color: #6e417a;
}
.interest-sec .main-box .wrapper .color:nth-child(2) .read-more-sec .date-sec > span {
  background-color: #ccb146;
}
.interest-sec .main-box .wrapper .color:nth-child(3) .read-more-sec .date-sec > span {
  background-color: #3f7e44;
}
.interest-sec .main-box .wrapper .read-more-sec .img-sec {
  border: 1px solid rgba(128, 128, 128, 0.3490196078);
  border-radius: 10px;
}
.interest-sec .main-box .wrapper .read-more-sec .img-sec img {
  width: 100%;
}
.interest-sec .main-box .wrapper .read-more-sec .info-wrapper {
  padding: 20px;
  border-bottom-left-radius: 7px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0.3490196078);
  border-bottom-right-radius: 7px;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.interest-sec .main-box .wrapper .read-more-sec .info-wrapper span {
  color: #fff;
  padding: 5px 15px;
  border-radius: 25px;
  font-weight: 500;
}
.interest-sec .main-box .wrapper .read-more-sec h2 {
  padding: 15px 0px;
  font-weight: bold;
  color: #062e51;
  font-size: 20px;
}
.interest-sec .main-box .wrapper .read-more-sec a {
  font-size: 18px;
  font-weight: 400;
  color: #062e51;
}/*# sourceMappingURL=youth_engagement.css.map */